.jumbotron{
	color: #2c3e50;
	background: #ecf0f1;
}
/*.h1{
	font-weight: 800;
	font-size: 100px;
}*/

.navbar-inverse{
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}